:root {
  --royal-blue: #4169e1;
  --dark-blue: #1e3a8a;
  --pastel-blue: #a7c7e775;
  --bronze: #cd7f32;
  --bras: #e1c16e75;
  --jade: #00a36c;
  --seafoam-green: #9fe2bf;
  --whitesmoke: #99999955;
  --dark-gray: #444444;
  --crimson: #b22222;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
  background-color: #fafbfd;
}

a {
  text-decoration: none;
  color: var(--royal-blue);
}

.f-row {
  display: flex;
  flex-direction: row;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.hover-anim {
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-1px);
  }
}
