main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem;
}

.left,
.right {
  width: 100%;
  padding: 1.2rem;
}

.left {
  max-width: 320px;
  gap: 1.5rem;

  .logo {
    width: 260px;
  }

  a {
    max-width: fit-content;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--royal-blue);
    transition: all 0.2s ease-in-out;

    &:hover {
      color: var(--dark-blue);
    }
  }

  #customForm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .form-group {
      position: relative;
      width: 100%;

      input {
        width: 100%;
        padding: 0.6rem 0.6rem 0.6rem 2rem;
        border: 1px solid #ccc;
        border-radius: 8px;
        color: #555;
        font-size: 16px;
        background: transparent;
        outline: none;
        position: relative;
      }

      input:focus {
        outline: none;
      }

      input::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: #ccc;
        display: block;
      }

      .search-icon {
        position: absolute;
        right: 0.8rem;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        pointer-events: none;
      }
    }

    .filter-gorup {
      gap: 0.4rem;
      padding-bottom: 1.5rem;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid var(--whitesmoke);
    }
  }
}

.right {
  min-width: 75dvw;
  padding: 1.2rem;
  margin: 0;
  gap: 1.2rem;
  background-color: #fff;
  box-shadow: #63636333 0px 2px 8px 0px;
  border-radius: 1rem;

  .right-header {
    justify-content: space-between;
    gap: 1.2rem;

    .active-filters {
      .active-filter {
        position: relative;

        padding: 0.4rem 0.8rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 0.6rem;
        font-size: 1rem;
        font-weight: 500;

        color: var(--royal-blue);
        background-color: var(--pastel-blue);
        border-radius: 6px;
        cursor: default;
        transition: transform 0.2s ease-in-out;

        &:hover {
          transform: translateY(-1px);
          text-decoration: underline;
        }

        button {
          background-color: transparent;
          border: none;
          color: var(--royal-blue);
          width: 22px;
          height: 22px;
          cursor: pointer;

          svg {
            pointer-events: none;
          }
        }
      }
    }

    #clearFilters {
      all: unset;
      display: flex;
      flex-direction: row;
      gap: 0.6rem;
      position: relative;
      align-items: center;
      padding: 0.4rem 0.8rem;
      background-color: var(--bras);
      border-radius: 6px;
      font-size: 1rem;
      font-weight: 500;
      color: var(--bronze);
      cursor: pointer;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: translateY(-1px);
        text-decoration: underline;
      }
    }
  }

  #results {
    #firmDetailsContainer {
      gap: 1.5rem;

      .company-details {
        padding: 1.2rem;
        gap: 1.6rem;
        border: 1px solid var(--pastel-blue);
        border-radius: 6px;

        ul > li::marker {
          font-size: 1.6rem;
        }

        ul > li.valid::marker {
          color: var(--jade);
        }
        ul > li.invalid::marker {
          color: var(--crimson);
        }

        ul {
          li {
            margin-left: 28px;
            h2 {
              color: var(--royal-blue);
            }
          }
        }

        .company-address {
          gap: 1.6rem;
          flex-wrap: wrap;

          .company-col {
            gap: 0.4rem;
          }
        }

        .company-link {
          position: relative;
          width: fit-content;
          margin: 0 auto;
          padding: 0.6rem 0.6rem 0.6rem 1.8rem;
          color: var(--dark-gray);
          font-size: 0.9rem;
          font-weight: 600;
          background-color: var(--whitesmoke);
          border-radius: 6px;

          .search-icon {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    flex-direction: row;
    align-items: start;

    .right {
      margin: 1.8rem 0;
      #results {
        #firmDetailsContainer {
          .company-details {
            .company-link {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
